@import "tailwindcss";
@import "tw-animate-css";



@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-color-1: #ac6aff;
  --color-color-2: #ffc876;
  --color-color-3: #ff776f;
  --color-color-4: #7adb78;
  --color-color-5: #858dff;
  --color-color-6: #ff98e2;
  --color-stroke-1: #26242C;
  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #3F3A52;
  --color-n-6: #252134;
  --color-n-7: #15131D;
  --color-n-8: #0E0C15;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;
  
  --font-sans: "Sora", sans-serif;
  --font-code: "Source Code Pro", "monospace";
  --font-grotesk: "Space Grotesk", "sans-serif";
  
  --tracking-tagline: .15em;
  
  --spacing-0.25: 0.0625rem;
  --spacing-7.5: 1.875rem;
  --spacing-15: 3.75rem;
  --border-default: 0.0625rem;
  
  --opacity-15: .15%;
  
  --default-transition-duration: 200ms;
  --default-transition-timing-function: "linear";
  
  }
  
  @layer utilities {
    .bg-conic-gradient {
      background-image: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
    }
  }

  .benefit-card-1 {
    background-image: url(/public/assets/benefits/card-1.svg)
    }
    
    .benefit-card-2 {
    background-image: url(/public/assets/benefits/card-2.svg)
    }
    
    .benefit-card-3 {
    background-image: url(/public/assets/benefits/card-3.svg)
    }
    
    .benefit-card-4 {
    background-image: url(/public/assets/benefits/card-4.svg)
    }
    
    .benefit-card-5 {
    background-image: url(/public/assets/benefits/card-5.svg)
    }
    
    .benefit-card-6 {
    background-image: url(/public/assets/benefits/card-6.svg)
    }

    @layer components {
      .container {
      @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem]
      }
      
      .h1 {
      @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem]
      }
      
      .h2 {
      @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight
      }
      
      .h3 {
      @apply text-[2rem] leading-normal md:text-[2.5rem]
      }
      
      .h4 {
      @apply text-[2rem] leading-normal
      }
      
      .h5 {
      @apply text-2xl leading-normal
      }
      
      .h6 {
      @apply font-semibold text-lg leading-8
      }
      
      .body-1 {
      @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8
      }
      
      .body-2 {
      @apply font-light text-[0.875rem] leading-6 md:text-base
      }
      
      .caption {
      @apply text-sm
      }
      
      .tagline {
      @apply font-grotesk font-light text-xs tracking-tagline uppercase
      }
      
      .quote {
      @apply font-code text-lg leading-normal
      }
      
      .button {
      @apply font-code text-xs font-bold uppercase tracking-wider
      }
      
      }

    @Utility tap-highlight-color {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      }
    
    @layer base {
        body {
        @apply font-sans bg-n-8 text-n-1 text-base
        }
    }


    .rotate-45 {
@apply rotate-[45deg]
}

.rotate-90 {
@apply rotate-[90deg]
}

.rotate-135 {
@apply rotate-[135deg]
}

.rotate-180 {
@apply rotate-[180deg]
}

.rotate-225 {
@apply rotate-[225deg]
}

.rotate-270 {
@apply rotate-[270deg]
}

.rotate-315 {
@apply rotate-[315deg]
}

.rotate-360 {
@apply rotate-[360deg]
}

.-rotate-45 {
@apply rotate-[-45deg]
}

.-rotate-90 {
@apply rotate-[-90deg]
}

.-rotate-135 {
@apply rotate-[-135deg]
}

.-rotate-180 {
@apply rotate-[-180deg]
}

.-rotate-225 {
@apply rotate-[-225deg]
}

.-rotate-270 {
@apply rotate-[-270deg]
}

.-rotate-315 {
@apply rotate-[-315deg]
}

.-rotate-360 {
@apply rotate-[-360deg]
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
